.senderName {
  font-size: 12px;
  color: #d1d5db !important;
}

.senderNameMobile {
  font-size: 10px;
  color: #d1d5db !important;
}

.deleteIcon {
  color: #f87171;
  font-size: 18px;
}

.deleteIconMobile {
  font-size: 16px;
}

.messageText {
  word-break: break-word;
}